<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699286347117-3dal44ckr4cv7fpd6phnkartbt8644q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699286347117-3dal44ckr4cv7fpd6phnkartbt8644q5</string>
	<key>API_KEY</key>
	<string>AIzaSyDNNVibwF-zp8Yba8AiWlNUcji2-GT7oMw</string>
	<key>GCM_SENDER_ID</key>
	<string>699286347117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sillyapps.photoEditor</string>
	<key>PROJECT_ID</key>
	<string>photo-editor-507a0</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-editor-507a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699286347117:ios:1e82eeaf742d65b10ace64</string>
</dict>
</plist>